<section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container" id="boxx">
        <div id="alertnq"></div>
        <div class="row text-white" >
          <h1 class="display-4 py-2 text-truncate">WELCOME TO DALAL GALI</h1>
          <h4 class="display-8 py-1 text-truncate">India's Trusted Trading Platform</h4>
        </div>
        <button type="button" (click)="tologin()"  class="btn btn-warning pull-left mt-3 ml-3 mx-3">LOGIN</button>
        <button type="button" (click)="tosignup()"  class="btn btn-warning pull-left mt-3 ml-3 mx-3">SIGNUP</button>
      </div>
    </div>
  </section>