<section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container ">
        <!-- <button type="button" class="btn btn-outline-light">Rohit</button> -->
        <button type="button" (click)="logout()" class="btn btn-outline-light pull-left"> LOGOUT </button>
        <!-- TradingView Widget BEGIN -->
        <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget_tape"></div>
  <div class="tradingview-widget-copyright"></div>
  
</div>
<!-- TradingView Widget END -->
        <!-- TradingView Tape End -->
        <div id="alertnq"></div>
        <div class="row">
          <div class="col">
            <div class="row text-white">
              <div class=" form p-4">
                <h1 class="display-4 py-2 text-truncate"> BUY AND SELL</h1>
  
                <div class="px-2">

                  <form class="justify-content-center" [formGroup]="myForm" (ngSubmit)="add_userdetail(myForm)">
                    <div class="form-group --stockname">
                      <label>Stock Name</label>

                      <select type="text" class="form-control custom-select col-sm-2" formControlName="stock" name="stock" required>
                        <option *ngFor="let stockname of stocknames"  value="{{stockname.sname}}">{{stockname.name}}</option>
                      </select>
                      

                    </div>
                    
                    <p></p>
                    
                    <div class="form-group --quantity">
                      <label for="floatingSelect">Quantity</label>
                      <input type="number" class="form-control col-sm-2" name="qty"
                        formControlName="qty" min="1">
                    </div>
  
                    <div class="cl-btn">
                      <button type="submit" class="btn btn-success btn-lg mt-3 mx-3" [disabled]="myForm.invalid">BUY</button>
                      <button type="button" (click)="sellstock(myForm)" [disabled]="myForm.invalid" id="btnsubmit"
                        class="btn btn-danger btn-lg mt-3 ml-3 mx-3 --sell" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample" aria-expanded="false"
                        aria-controls="collapseWidthExample">SELL</button>
                      <button type="button" (click)="show_price(myForm)" [disabled]="myForm.get('stock')?.invalid"
                        id="btnsubmit1" class="btn btn-primary btn-lg mt-3 ml-3 mx-3 --checkprice" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample1" aria-expanded="false"
                        aria-controls="collapseWidthExample1">CHECK PRICE</button>
                      <button type="button" (click)="status()"
                        class="btn btn-dark btn-lg mt-3 mx-3 --status">STATUS</button>
                        
                      <p></p>
                      <div>
                        <label for="price"> The Price Of Stock Is Rs {{price}}</label>
                      </div>
                      
                      <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                          <ul class="list-group" id="pl">
  
                          </ul>
                        </div>
                      </div>
                      <p></p>
                      <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="collapseWidthExample1">
                          <ul class="list-group">
                            <li class="list-group-item list-group-item-info">Stock price: {{price}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row text-white">
              <div class=" form p-4">
                <h1 class="display-4 py-2 text-truncate">STATUS
                </h1>
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div id="myDiv" class="tradingview-widget-container__widget"></div>
                </div>
                <!-- TradingView Widget END -->
                
  
                <ul class="list-group" id="stocklist">
                </ul>
                <p></p>
                <div id="overall"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>