#cover {
    background: #222 url("/assets/email.jpg") center center no-repeat;
    background-position: center center;
    background-size: cover;
    height: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#lgbtn{
    float: left;
}

#cover-caption {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}