<section  id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container ">
        <br>
        <h3>Welcome User {{unm}}</h3>
        <button type="button" (click)="logout()" class="btn btn-outline-light" id="lgbtn"> LOGOUT </button>
        <br><br>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget_tape"></div>
          <div class="tradingview-widget-copyright"></div>
        </div>
        <br>
        <!-- TradingView Tape End -->
        <div id="alertnq"></div>
        <div class="row">
          <div class="col">
            <div class="row text-white">
              <div class=" form p-4">
                <h1 class="display-4 py-2 text-truncate"> BUY AND SELL</h1>
  
                <div class="px-2">

                  <form class="justify-content-center" [formGroup]="myForm" (ngSubmit)="add_userdetail(myForm)">
                    <div class="form-group --stockname">
                      <label>Stock Name</label>

                      <select type="text" class="form-control custom-select col-sm-2" formControlName="stock" name="stock" required>
                        <option *ngFor="let stockname of stocknames"  value="{{stockname.sname}}">{{stockname.name}}</option>
                      </select>
                      

                    </div>
                    
                    <p></p>
                    
                    <div class="form-group --quantity">
                      <label for="floatingSelect">Quantity</label>
                      <input type="number" class="form-control col-sm-2" name="qty" formControlName="qty" min="1">
                    </div>
  
                    <div class="cl-btn">
                      <button type="submit" class="btn btn-success btn-lg mt-3 mx-3" [disabled]="myForm.invalid">BUY</button>
                      <button type="button" (click)="sellstock(myForm)" [disabled]="myForm.invalid" id="btnsubmit"
                        class="btn btn-danger btn-lg mt-3 ml-3 mx-3 --sell" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample" aria-expanded="false"
                        aria-controls="collapseWidthExample">SELL</button>
                      <button type="button" (click)="show_price(myForm)" [disabled]="myForm.get('stock')?.invalid"
                        id="btnsubmit1" class="btn btn-primary btn-lg mt-3 ml-3 mx-3 --checkprice" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample1" aria-expanded="false"
                        aria-controls="collapseWidthExample1">CHECK PRICE</button>
                      <button type="button" (click)="status()"
                        class="btn btn-dark btn-lg mt-3 mx-3 --status">STATS-HISTORY</button>

                      <br><br>
                    </div>
                      <div>
                        <span class="btn btn-warning"> The Price Of Stock Is Rs {{price}} </span>
                        <br><br>
                        <span class="btn btn-info" for="prediction"> The Price Of Stock May {{prediction}}</span>
                      </div>
                     

                  </form>
  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row text-white">
              <div class=" form p-4">
                <h1 class="display-4 py-2 text-truncate">STATUS
                </h1>
                <!-- TradingView Widget BEGIN -->
                <div class="tradingview-widget-container">
                  <div id="myDiv" class="tradingview-widget-container__widget"></div>
                </div>
                <!-- TradingView Widget END -->
                
  
                <ul class="list-group" id="stocklist">
                </ul>
                <p></p>
                <div id="overall"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- table -->
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-info table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">pid</th>
                <th scope="col">Stock Name</th>
                <th scope="col">Date</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>

              <ng-container *ngFor="let m of ary">
                <tr>
                  <td>{{m.pid}}</td>
                  <td>{{m.stockName}}</td>
                  <td>{{m.buyingDate}}</td>
                  <td>{{m.quantity}}</td>
                  <td>{{m.totalAmount}}</td>
                  <td >
                    <ng-container *ngIf="m.bs; else sellTemplate">Buy</ng-container>
                    <ng-template #sellTemplate>Sell</ng-template>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>

      </div>
      
    </div>
  </section>